@page
@section Styles {
    <link rel="stylesheet" href="~/css/catalogo.css" type="text/css">
    @* <link rel="stylesheet" href="~/css/reset.css" type="text/css"> *@
}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Catalogo LoCAR</title>
        <link rel="stylesheet" href="reset.css">
    </head>

    <body>
        <div class="card border-success mb-3" style="width: 12rem; margin">
            <img  class="card-img-top" src="https://www.automaistv.com.br/wp-content/uploads/2020/07/toyota_corolla_hybrid_sedan_86_edited.jpg" >
            <div class="card-body">
                <h5 class="card-title, text-center">Toyota Corolla</h5>
                <div style="display: inline-flex;" class="container">
                <div style="margin-right: 50px ;" class="row">
                    <div class="col, text-sm">Sedan</div>
                    <div class="col, text-sm">2018</div>
                </div>
                <div  class="row">    
                    <div class="col, text-sm">Automático</div>
                    <div class="col, text-sm">R$500,00</div>
                </div>
                </div>
            </div>
        </div>
       
    </body>